body {
  background-color: rgb(175, 106, 239);
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 350px;
  height: 460px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.input {
  display: block;
  margin-bottom: 15px;
  width: 240px;
  height: 27px;
  background-color: gainsboro;
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: -2px 5px 6px -5px rgba(173, 177, 180, 0.16);
  -moz-box-shadow: -2px 5px 6px -5px rgba(173, 177, 180, 0.16);
  box-shadow: -2px 5px 6px -5px rgba(173, 177, 180, 0.16);
}

.hedar {
  text-align: center;
  margin: auto auto;
}
.button {
  margin-bottom: 60px;
}
.b2 {
  display: block;
  width: 240px;
  height: 35px;
  margin-left: 55px;
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 5px;
  background-color: rgb(185, 121, 246);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  font-size: 16px;
}
.b1 {
  display: block;
  margin-bottom: 30px;
  width: 240px;
  height: 35px;
  margin-left: 55px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(185, 121, 246);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(173, 177, 180, 0.6);
  font-size: 16px;
}
.p {
  padding-bottom: 1px;
}
.hedar-index {
  padding-bottom: 25px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline-color: rgb(255, 255, 0);
  outline-style: solid;
  outline-width: 2px;
  padding: 10px 10px 10px 10px;
}
.hedar-registration {
  outline-color: palevioletred;
  outline-style: solid;
  outline-width: 2px;
  text-align: center;
}
.input-fields {
  margin: 0 auto;

  outline-color: red;
  outline-style: solid;
  outline-width: 2px;
  padding: 4px 4px 4px 4px;
  margin-bottom: 15px;
}
.name {
  display: block;
  margin-bottom: 15px;
}
.login {
  display: block;
  margin-bottom: 15px;
}
.dеate {
  display: block;
  margin-bottom: 15px;
}
.password {
  display: block;
  margin-bottom: 15px;
}

.vrapper {
  margin: 0 auto;
  outline-color: rgb(89, 231, 89);
  outline-style: solid;
  outline-width: 2px;
  padding: 5px 5px 5px 5px;
}
